<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja <%= title %></title>
</head>
<body>
    <%- include('./partiel/nav.ejs') %> 

    <div class="Blogs content">
        <h1>mY indexOO'P this Wrang </h1>
    </div>
    
    <%- include('./partiel/footer.ejs') %> 

</body>
</html>