<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja <%= title %></title>
</head>
<style>
    @media(max-width:767px){
        .input_field{
            margin-top: 1rem;
        }
        textarea{
            width: 52%;
            height: 10rem;
        }
        button{
            margin-left: 2rem;
            width: 50%;
        }
    }
    @media(min-width:768px){}
    @media(min-width:991px){}
    @media(min-width:1199px){}
    .input_field{
        text-align: center;
    }
    input{
        border: none;
        padding: 6px 10px;
        margin: 10px 0px;
        outline: none;
        width: 50%;
    }
    button{
        
        padding: 6px;
        font-weight: bolder;
    }
    
</style>
<body>

    <%- include('./partiel/nav.ejs') %> 

    <div class="input_field">
        <form action="/blogs" method="post">
            <label for="title">title</label>
            <input type="text" name="title" required><br>
            <label for="snippet">title</label>
            <input type="text" name="snippet" required><br>
            <label for="body">body</label>
            <textarea rows="5" cols="" name="body" required></textarea><br>
            <button>Submite</button>
        </form>
    </div>

    <%- include('./partiel/footer.ejs') %> 
</body>
</html>