<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    footer{
    background-color: white;
    color: rgb(0, 129, 62);
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 20px 10px;
    left: 0;
    width: 97%;
    text-align: center;
    }
</style>
<body>
    


    <footer>
        code by Abdelkader Ould Hennia
    </footer>
</body>
</html>